---
import Layout  from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Masterubah">
	<main class="px-5 pt-20 lg:px-60">
		<h1 class="text-8xl font-extrabold text-center">Welcome to <span class="bg-gradient-to-r from-yellow-400 to-amber-500 bg-clip-text text-transparent">Masterubah</span></h1>
		<p class="px-9 py-20 leading-5 text-2xl">
Kamu Bisa Gunakan Layanan Kami secara <strong>Gratis</strong>
Gak Perlu Daftar-Daftar!
		</p>
			<ul role="list" class="bg-orange-50 rounded-2xl grid grid-cols-2 gap-6 justify-items-center">
			<Card
				src="/img/qrcode.svg"
				alt="qr code"
				href="https://asoy.com"
				title="QR CODE"
				body="Bikin QR Code Sendiri"
			/>
			<Card
				src="/img/fox.svg"
				alt="qr code"
				href="https://asoy.com"
				title="QR CODE"
				body="Bikin QR Code Sendiri"
			/>
			<Card
				src="/img/fox.svg"
				alt="qr code"
				href="https://asoy.com"
				title="QR CODE"
				body="Bikin QR Code Sendiri"
			/>
			<Card
				src="/img/fox.svg"
				alt="qr code"
				href="https://asoy.com"
				title="QR CODE"
				body="Bikin QR Code Sendiri"
			/>
		</ul>
	</main>
</Layout>
