---
import Layout  from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Masterubah">
	<main class="px-5 pt-20 lg:px-60">
		<h1 class="text-7xl font-extrabold text-center">Selamat Datang Di <span class="bg-gradient-to-r text-8xl from-yellow-400 to-amber-500 bg-clip-text text-transparent">Masterubah</span></h1>
		<p class="px-9 py-20 text-center text-5xl">
Kamu Bisa Gunakan Layanan Kami secara <strong class="text-orange-500">Gratis</strong>
Gak Perlu Daftar-Daftar!
		</p>
			<ul role="list" class="bg-orange-50 rounded-2xl py-10 grid grid-cols-2 gap-6 justify-items-center drop-shadow-lg">
			<Card
				src="/img/qrcode.svg"
				alt="qr code"
				href="/qr-code"
				title="QR CODE"
				body="Bikin QR Code Sendiri"
			/>
			<Card
				src="/img/fox.svg"
				alt="qr code"
				href="https://asoy.com"
				title="QR CODE"
				body="Bikin QR Code Sendiri"
			/>
			<Card
				src="/img/fox.svg"
				alt="qr code"
				href="https://asoy.com"
				title="QR CODE"
				body="Bikin QR Code Sendiri"
			/>
			<Card
				src="/img/fox.svg"
				alt="qr code"
				href="https://asoy.com"
				title="QR CODE"
				body="Bikin QR Code Sendiri"
			/>
		</ul>
	</main>
</Layout>
